<!DOCTYPE html>
<html lang="en">
  
  <%- include('../partials/head.ejs') %>
  
<body>
  
  <h1>NodeJs Learning</h1>

  <%- include('../partials/nav.ejs') %>

  <h2>Blogs Page <span class="badge"><%= blogs.length %></span></h2>

  <div id="blogs">
    <% if (blogs.length > 0) { %>

      <% blogs.forEach((blog, index) => {%>
  
        <%- include('./blog.ejs', { blog, isDetailedBlog: false }) %>
  
      <% });  %>
      
    <% } else { %>
  
      <h3>Empty..</h3>
  
    <% } %>
  </div>

  <%- include('../partials/scripts.ejs') %>

</body>

</html>