<% let createdAt = new Date(blog.createdAt); %>
<% let updatedAt = new Date(blog.updatedAt); %>

<div class="blog">
  <h3 class="title"><%= blog.title %></h3>
  <p class="snippet"><%= blog.snippet %></p>
  <p class="body"><%= blog.body %></p>
  <div class="timestamps">
    <span class="createdAt"><b>Created:</b> <%= createdAt.toDateString() %></span>
    <span class="bull">&bull;</span>
    <span class="updatedAt"><b>Updated:</b> <%= updatedAt.toDateString() %></span>
  </div>
</div>